{% extends 'base/index.html' %}
{% block title %}
  <title></title>
  <meta name="description" content="">
{% endblock %}
{% block other %}
<main>
	<div class="container mt-4">
		<div>
			{% for message in messages %}
			<h4 style="color: red;">{{message}}</h4>
			{% endfor %}
			
		</div>
		<form method="post">	
			{% csrf_token %}

			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email адреса">	
			</div>	
			<div class="form-group">
				<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Пароль">
			</div>
			<div class="form-group">
				<input type="submit" id="sub_btn" value="Увійти" class="btn btn-warning btn-block">   		
			</div>
		</form>
		
</div>
</main>

{% endblock %}