{% extends 'base/index.html' %}
{% block title %}
  <title>Зміна пароля форма</title>
  <meta name="description" content="">
{% endblock %}
{% block other %}
{% load widget_tweaks %}
<main>
	<div class="container mt-4">
		{% if validlink %}
		<form method="post">
			{% csrf_token %}
			<p>Для завершення, введіть новий пароль в поля й натисніть кнопку «Надіслати»</p>
			{{ form.new_password1.errors }}
			<div class="form-row field-password1 mb-4">
				<p></p>
				<label for="id_new_password1">Новий пароль:</label>
				{{ form.new_password1 }}
			</div>
			{{ form.new_password2.errors }}
			<div class="form-row field-password2">
				<p></p>
				<label for="id_new_password2">Повторіть пароль:</label>
				{{ form.new_password2 }}
			</div>
			<input type="Submit" name="Update Password" value="Надіслати" class="btn btn-warning mt-4 open_sa_f" style="margin-bottom: .3rem;" >
		</form>
		{% else %}
			<p>Посилання на зміну пароля недійсне, можливо, тому що воно вже використане. Будь ласка, запросіть нову зміну пароля.</p>
		{% endif %}
	</div>
</main>
{% load static %}
<script type="text/javascript" src="{% static '/js/error_translater.js' %}"></script>
{% endblock %}