{% extends 'base/index.html' %}
{% block title %}
  <title>Відновлення паролю</title>
  <meta name="description" content="Зміна, відновлення паролю — Наука по-Українськи">
{% endblock %}
{% block other %}
{% load widget_tweaks %}
<main>
	<div class="container mt-4">
		<h3>Відновлення паролю</h3>
		<form method="post">
		{% csrf_token %}
		{% for field in form %}
	        {{ field.errors }}
	        <label for="id_email">Введіть email зареєстрованого аккаунту:</label>
	         {{ field }}
	        <input type="Submit" name="Send email" value="Надіслати" class="btn btn-warning ml-4" style="margin-bottom: .3rem;" >
		{% endfor %}
		</form>
</div>
</main>

{% endblock %}