{% extends 'base/index.html' %}
{% block title %}
  <title></title>
  <meta name="description" content="">
{% endblock %}
{% block other %}
{% load widget_tweaks %}
<main>
	<div class="container mt-4">
		<form method="post">
		<h3></h3>
		<p>Ми надішлемо інструкції щодо відновлення паролю на вказану електронну скриньку.</p>
		<p>Якщо ви не отримали електронного листа, переконайтесь, що ви ввели адресу, на яку зареєструвались, і перевірте папку зі спамом.</p>
		</form>
</div>
</main>

{% endblock %}