{% extends 'base/index.html' %}
{% block other %}
<main>
	<div class="container mt-4">
		<div>
			{% for message in messages %}
			<h4 style="color: red;">{{message}}</h4>
			{% endfor %}
			
		</div>
		<form method="post">	
			{% csrf_token %}
			<div class="form-group">    			
				<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Псевдоним">
			</div>
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email адрес">	
			</div>	
			<div class="form-group">
				<p id="length" style="color: red;">✖Минимальная длина пароля 8 символов</p>
				<p id="number" style="color: red;">✖Как минимум 1 цифра</p>
				<p id="capital" style="color: red;">✖Как минимум 1 буква в верхнем регистре</p>
				<p id="equal"  style="color: red;">✖Пароли совпадают</p>
				<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Пароль">
			</div>
			<div class="form-group">
				<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Введите пароль еще раз">	    			
			</div>
			<div class="form-group">
				<input type="submit" id="sub_btn" disabled value="Регистрация" class="btn btn-warning btn-block">   		
			</div>
		</form>
		
</div>
</main>
<script>
var pswd = document.getElementById("password");
var pswd_conf = document.getElementById("password_confirmation");
var number = document.getElementById("number");
var length = document.getElementById("length");
var equal = document.getElementById("equal");
var sub_btn = document.getElementById("sub_btn");
var capital = document.getElementById("capital");


var b_number = false;
var b_length = false;
var b_equal = false;
var b_capital = false;


// When the user starts to type something inside the password field
pswd.onkeyup = function() {

  // Validate numbers
  var numbers = /[0-9]/g;
  if(pswd.value.match(numbers)) {  
    number.setAttribute("style","color: green;")
    b_number = true;
    number.innerText = "✔Как минимум 1 цифра";
  } else {
    number.setAttribute("style","color: red;")
    b_number = false;
    number.innerText = "✖Как минимум 1 цифра";
  }

  var upperCaseLetters = /[A-Z]/g;
  if(pswd.value.match(upperCaseLetters)) {  
    capital.setAttribute("style","color: green;")
    b_capital = true;
    capital.innerText = "✔Как минимум 1 буква в верхнем регистре";
  } else {
    capital.setAttribute("style","color: red;")
    b_capital = false;
    capital.innerText = "✖Как минимум 1 буква в верхнем регистре";
  }
  
  // Validate length
  if(pswd.value.length >= 8) {
    length.setAttribute("style","color: green;")
    b_length = true;
    length.innerText = "✔Минимальная длина пароля 8 символов";
  } else {
    length.setAttribute("style","color: red;")
    b_length = false;
    length.innerText = "✖Минимальная длина пароля 8 символов";
  }

  if(pswd.value === pswd_conf.value){
  	equal.setAttribute("style","color: green;")
  	b_equal = true;
  	equal.innerText = "✔Пароли совпадают";
  }else{
  	equal.setAttribute("style","color: red;")
  	b_equal = false;
  	equal.innerText = "✖Пароли совпадают";
  }

  if(b_number == true &&  b_length == true && b_equal == true && b_capital == true){
  	sub_btn.removeAttribute("disabled", "disabled");
  }
  else{
  	sub_btn.setAttribute("disabled", "disabled");
  }
}
pswd_conf.onkeyup = function() {
  if(pswd.value === pswd_conf.value){
  	equal.setAttribute("style","color: green;")
  	b_equal = true;
  	equal.innerText = "✔Пароли совпадают";
  }else{
  	equal.setAttribute("style","color: red;")
  	b_equal = false;
  	equal.innerText = "✖Пароли совпадают";
  }

  if(b_number == true &&  b_length == true && b_equal == true && b_capital == true){
  	sub_btn.removeAttribute("disabled", "disabled");
  }
  else{
  	sub_btn.setAttribute("disabled", "disabled");
  }
}

</script>
{% endblock %}