{% extends 'base/index.html' %}
{% block title %}
  <title>Реєстрація - Наука по-Українськи</title>
  <meta name="description" content="Зареєструватися на сайті Наука по-Українськи для отримання розширених можливостей">
{% endblock %}
{% block other %}
<main>
	<div class="container mt-4">
		<div>
			{% for message in messages %}
			<h4 style="color: red;">{{message}}</h4>
			{% endfor %}
			
		</div>
		<form method="post">	
			{% csrf_token %}
			<div class="form-group">    			
				<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Ім'я користувача">
			</div>
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email адреса">	
			</div>	
			<div class="form-group">
				<p id="length" style="color: red;">✖Мінімальна довжина пароля 8 символів</p>
				<p id="number" style="color: red;">✖Як мінімум 1 цифра</p>
				<p id="capital" style="color: red;">✖Як мінімум 1 буква у верхньому регістрі</p>
				<p id="equal"  style="color: red;">✖Паролі збігаються</p>
				<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Пароль">
			</div>
			<div class="form-group">
				<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Повторіть пароль">	    			
			</div>
			<div class="form-group">
				<input type="submit" id="sub_btn" disabled value="Реєстрація" class="btn btn-warning btn-block open_sa_f">   		
			</div>
		</form>
		
</div>
</main>
{% load static %}
<script  type="text/javascript" src="{% static '/js/regi.js' %}"></script>

{% endblock %}