{% extends 'base/index.html' %}
{% block title %}
  <title></title>
{% endblock %}
{% block other %}
<main>
	<div class="container mt-4">
		<div>
			{% for message in messages %}
			<h4 style="color: red;">{{message}}</h4>
			{% endfor %}
			
		</div>
		<form method="post">	
			{% csrf_token %}
			<div class="form-group">    			
				<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Псевдоним">
			</div>
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email адрес">	
			</div>	
			<div class="form-group">
				<p id="length" style="color: red;">✖Минимальная длина пароля 8 символов</p>
				<p id="number" style="color: red;">✖Как минимум 1 цифра</p>
				<p id="capital" style="color: red;">✖Как минимум 1 буква в верхнем регистре</p>
				<p id="equal"  style="color: red;">✖Пароли совпадают</p>
				<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Пароль">
			</div>
			<div class="form-group">
				<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Введите пароль еще раз">	    			
			</div>
			<div class="form-group">
				<input type="submit" id="sub_btn" disabled value="Регистрация" class="btn btn-warning btn-block">   		
			</div>
		</form>
		
</div>
</main>
{% load static %}
<script  type="text/javascript" src="{% static '/js/regi.js' %}"></script>

{% endblock %}