{% extends 'base/index.html' %}
{% block other %}
<main role="main">
	<div class="container shadow-sm">
	    <p class="h1" style="margin-top:0.4em">{{article.title}}</p>
	    	{% if user.is_authenticated %}
		    {% if in_favorite %}
		    <form method="post">
		    	{% csrf_token %}
		    	<div class="row">
			    	<div class="col-12 col-md-8">
			    		<p style="margin-top: 9px; margin-bottom: 0px; color: #bfbfbf">{{article.creation_date|date:"d-m-Y"}}</p>
			    	</div>
			    	<div class="col-6 col-md-4">
			    		<input type="submit" value="Удалить из Избранных" name="delete_favorites" class="btn btn-warning">
			    	</div>
		    	</div>
		    </form>
		    {% else %}
		    <form method="post">
		    	{% csrf_token %}
		    	<div class="row">
			    	<div class="col-8">
			    		<p style="margin-top: 9px; margin-bottom: 0px; color: #bfbfbf">{{article.creation_date|date:"d-m-Y"}}</p>
			    	</div>
			    	<div class="col-4">
			    		<input type="submit" value="Добавить в Избранные" name="add_favorites" class="btn btn-warning">
			    	</div>
		    	</div>
		    </form>
			{% endif %}
			{% else %}
			<div class="row">
			    	<div class="col-12 col-md-8">
			    		<p style="margin-top: 9px; margin-bottom: 0px; color: #bfbfbf">{{article.creation_date|date:"d-m-Y"}}</p>
			    	</div>
			    	<div class="col-6 col-md-4">
			    		<p style="margin-top:0.7em" class="text-justify"><u><a href="{% url 'login' %}">Войдите</a></u> или <u><a href="{% url 'register' %}">Зарегистрируйтесь</a></u> для  добавления в избранные</a></p>
			    	</div>
		    	</div>
			{% endif %}
		
	    
	    {{article.body|safe}}
	</div>

</main>

{% endblock %}