{% extends 'base/index.html' %}
{% block other %}
<main role="main">
      <div class="container shadow-sm">
    <p class="h1" style="margin-top:0.4em">{{article.title}}</p>
    

    <form method="post">
    	{% csrf_token %}
    	<label style="margin-left: 15px; color: #bfbfbf">{{article.creation_date|date:"d-m-Y"}}</label> 
    	<input type="submit" value="Добавить в Избранные" name="add_favorites">
    </form>
    <form method="post">
    	{% csrf_token %}
    	<label style="margin-left: 15px; color: #bfbfbf">{{article.creation_date|date:"d-m-Y"}}</label> 
    	<input type="submit" value="Удалить из Избранных" name="delete_favorites">
    </form>
    
    {{article.body|safe}}
  </div>

</main>

{% endblock %}