{% extends 'base/index.html' %}
{% block other %}
<main role="main">
 
  {% for article in articles %}
    <div class="container shadow-sm">
      <h1 style="margin-top:0.7em" class="text-justify"><a href="{% url 'art_detail' article.id %}"><u>{{article.title}}</u></a></h1>
      <p>{{ article.body|truncatechars:1000 }}</p>
    </div>
    
  {% endfor %}

  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if articles.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">В начало</a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">{{articles.previous_page_number}}</a></li>
      {% endif %}
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{ articles.number }}
        </span>
      </li>
      {% if articles.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">{{ articles.next_page_number}}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ articles.paginator.num_pages }}">В конец</a>
        </li>
      {% endif %}
    </ul>
  </nav>

</main>

{% endblock %}
