<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<body>
  
    <nav class="navbar navbar-expand-md navbar-light " style="background-color: #ffe083;">
      <a href="{% url 'start' %}" class="navbar-brand open_sa_f">
        НАУКА по-УКРАЇНСЬКІ
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Статті</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'favorites' %}">Обрані</a> </li>
        </ul>

        <form class="form-inline mt-2 mt-md-0">
          {% if user.is_authenticated %}
          <span style="color: black; margin-right: 15px;" class="navbar-text">
            {{ user.username }}
          </span>
          <a class="btn btn-warning" href="{% url 'logout' %}" role="button">Выйти</a>
          {% else %}
          <a class="btn btn-warning" href="{% url 'register' %}" role="button">Зареєструватися</a>
          <a class="btn btn-warning ml-2" href="{% url 'login' %}" role="button">Увійти</a>
          {% endif %}
        </form>
      </div>
    </nav>

{% block other %}{% endblock %}
</body>
</html>