{% extends 'base/index.html' %}
{% block title %}
  <title>Document</title>
{% endblock %}
{% block other %}
{% load static %}


  <div class="container">
    <div class="row mb-2 mt-3">
      <div class="col-4 col-md-2">
        <img style="height:100%;  width:100%" src="{% static '/images/science2.png' %}" alt="Зображення символізуюче науку">
      </div>
      <div class="col-8 col-md-10">
        <h1 class="pb-4 mb-4 font-italic border-bottom open_sa_f">
            Наука
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Наука</strong>
          <p class="mb-0 h3"><b>{{sci_article.0.title}}</b></p>
          <div class="mb-1 text-muted">{{sci_article.0.creation_date|date:"d-m-Y"}}</div>
          <p class="card-text mb-auto">{{ sci_article.0.description}}</p>
          <a href="{% url 'art_detail' sci_article.0.slug %}" class="stretched-link">Продовжити читати</a>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Наука</strong>
          <p class="mb-0 h3"><b>{{sci_article.1.title}}</b></p>
          <div class="mb-1 text-muted">{{sci_article.1.creation_date|date:"d-m-Y"}}</div>
          <p class="card-text mb-auto">{{ sci_article.1.description}}</p>
          <a href="{% url 'art_detail' sci_article.1.slug %}" class="stretched-link">Продовжити читати</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Наука</strong>
          <p class="mb-0 h3"><b>{{sci_article.2.title}}</b></p>
          <div class="mb-1 text-muted">{{sci_article.2.creation_date|date:"d-m-Y"}}</div>
          <p class="card-text mb-auto">{{ sci_article.2.description}}</p>
          <a href="{% url 'art_detail' sci_article.2.slug %}" class="stretched-link">Продовжити читати</a>
        </div>
      </div>
    </div>
  </div>
  <h4 style="text-align: center;"><a href="{% url 'science' %}" class="text-primary">всі статті про науку...</a></h4>
  </div>

    <div class="container mb-4">
    <div class="row mb-2">
      <div class="col-4 col-md-2">
        <img style="height:100%;  width:100%" src="{% static '/images/technology2.png' %}" alt="Зображення символізуюче технології">
      </div>
      <div class="col-8 col-md-10">
        <h1 class="pb-4 mb-4 font-italic border-bottom open_sa_f">
            Технології
        </h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Технології</strong>
          <p class="mb-0 h3"><b>{{tech_article.0.title}}</b></p>
          <div class="mb-1 text-muted">{{tech_article.0.creation_date|date:"d-m-Y"}}</div>
          <p class="card-text mb-auto">{{ tech_article.0.description}}</p>
          <a href="{% url 'art_detail' tech_article.0.slug %}" class="stretched-link">Продовжити читати</a>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Технології</strong>
          <p class="mb-0 h3"><b>{{tech_article.1.title}}</b></p>
          <div class="mb-1 text-muted">{{tech_article.1.creation_date|date:"d-m-Y"}}</div>
          <p class="card-text mb-auto">{{ tech_article.1.description}}</p>
          <a href="{% url 'art_detail' tech_article.1.slug %}" class="stretched-link">Продовжити читати</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Технології</strong>
          <p class="mb-0 h3"><b>{{tech_article.2.title}}</b></p>
          <div class="mb-1 text-muted">{{tech_article.2.creation_date|date:"d-m-Y"}}</div>
          <p class="card-text mb-auto">{{ tech_article.2.description}}</p>
          <a href="{% url 'art_detail' tech_article.2.slug %}" class="stretched-link">Продовжити читати</a>
        </div>
      </div>
    </div>
  </div>
  <h4 style="text-align: center;"><a href="{% url 'technology' %}" class="text-success">всі статті про технології...</a></h4>
  </div>






</main>

{% endblock %}
